<section class="container">
	<header id="calendar-header">
		<button id="prev1s" type="button" class="btn btn-secondary">Prev</button>
		<h3 id="calendar-month-year"></h3>
		<button id="next1s" type="button" class="btn btn-secondary">Next</button>
	</header>
	<article id="calendar-dates">
	</article>
	<article id="calendar-country">
	</article>
</section>