
<!DOCTYPE html>
<html>
  <head>
    <title>FORM</title>
    <link rel='stylesheet' href='/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>    
    <% include partials/_msg.ejs %>
    <div class="subdiv">
    <% include partials/promotion-add.ejs %>
    </div>
  </body>
  <script src='/js/bootstrap.min.js' ></script>
</html>