<!DOCTYPE html>
<html>
  <head>
    <title>FORM</title>
    <link rel='stylesheet' href='/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <% include partials/_msg.ejs %>
      <div class="subdiv">
      <% include partials/teaser-show.ejs %>
      <% include partials/calender.ejs %>
      </div>
    </div>
  </body>
  <script src='/javascripts/jquery-3.5.1.slim.min.js' ></script>
  <script src='/js/bootstrap.min.js' ></script>
  <script src='/javascripts/cal.js' ></script>
</html>