<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel='stylesheet' href='/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Hompegae Scheduler</title>
  </head>
  <body class="middle">
<div class="maindiv">
    <h1 class="big">Welcome to our Homepage Scheduler</h1>
    <p class="sz20">Select value from below dropdown as per your Requirement</p>
    <div class="dropdown">
      <button class="dropbtn">Select Requirement</button>
      <div class="dropdown-content">
        <a href="/index-promotion">Homepage Promotion</a>
        <a href="/index-teaser">Homepage Teaser</a>
      </div>
    </div>
    </div>
  </body>
</html>